/*Color*/
title-color{
    color: #212121;
}
primary-color{
   color: #757575
}
accent-color
{color:#2196F3
}
 hero-color {
     color: #FFFFFF;
 }

/* шапка*/
.logo{
 
}
.site-nav{
    color: #212121;
}
.auth-nav{
    color: #757575;
}
.menu-nav:hover{
    color: #2196F3;
}
.menu-nav{
    color: black;
}